.areas {
	display: flex;
	justify-content: center;
}

.areas__container {
	margin: 116px 0;
	display: flex;
    align-items: center;
	justify-content: space-between;
	gap: 72px;
}

.areas__upper {
	width: 1170px;
} 

.areas__heading {
	margin-top: 8px;
	color: #FFFFFF;
	font-size: 38px;
	font-weight: 400;
}

.areas__list {
	margin-top: 12px;
}

.areas__list__item {
	color: #D7D7D7;
	font-size: 17px;
	font-weight: 400;
	line-height: 40px;
}

.areas__lower {
	width: 1096px;
}

.areas__desc {
	margin-top: 12px;
	font-size: 17px;
	line-height: 150%;
}

.areas__reading {
	margin-top: 38px;
	padding: 16px 34px;
}