.first {
	background: #292A29;
	padding-top: 102px;
	padding-bottom: 56px;
}

.first .container {
	margin-left: 135px;
	width: 516px;
}

.first h1 {
	color: #FFFFFF;
	font-family: "DM Serif Display", serif;
	font-size: 66px;
	font-weight: 400;
}

.first p {
	margin-top: 12px;
	width: 432px;
	font-size: 17px;
}

.first button {
	font-weight: 700;
}

.first .image {
	position: absolute;
	top: 182px;
	left: 812px;
}

.first img {
	width: 430px;
}
