.footer {
	background: #292A29;
	padding-top: 92px;
	display: flex;
	justify-content: center;
}

.footer__container-up {
	display: flex;
	justify-content: space-between;
	gap: 109px
}

.footer__about {
	width: 315px;
}

.footer__logo {
	margin-bottom: 12px;
}

.footer__text {
	color: #767676;
}

.footer__icons{
	margin-top: 32px;
}

.footer__heading {
	color: #FFFFFF;
	font-size: 27px;
	margin-bottom: 24px;
}

.footer__container-down {
	margin-top: 60px;
	padding-bottom: 92px; 
	display: flex;
	justify-content: space-between;
	gap: 614px;
}

.footer__container-down__box {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}