* {
	margin: 0;
	padding: 0;
}

body {
	background: #3A3B3A;
	min-width: 1365px;
	font-family: "DM sans", sans-serif;
}

ul {
	list-style: none;
}

button {
	background-color: #F5CD76;
	border-radius: 5px;
	font-family: "DM sans", sans-serif;
	font-size: 15px;
}

span {
	color: #A47A26;
	font-size: 13px;
}

p {
	color: #D7D7D7;
	font-weight: 400px;
}