.header {
	background: #292A29;
	padding-top: 32px;
	display: flex;
    justify-content: center;
}

.header__container {
	width: 1164px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__link-list {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.header__link {
	font-size: 15px;
	text-decoration: none;
	color: #FFFFFF;
}

.header__button {
	padding: 14px 24px;
}
