.seventh {
	margin-top: 107px;
	margin-left: 135px;
	margin-bottom: 116px;
	display: flex;
	align-items: center;
}

.seventh .box {
	width: 483px;
}

.seventh h3 {
	margin-top: 8px;
	margin-bottom: 12px;
}

.seventh form {
	margin-left: 101px;
	background: #343534;
	padding-top: 48px;
	padding-left: 38px;
	padding-right: 36px;
	padding-bottom: 48px;
	border-radius: 5px;
}

.seventh input, textarea {
	background: #3A3B3A;
	margin-bottom: 16px;
	padding: 11px 16px;
	width: 512px;
}

.seventh form button {
	margin-top: 0;
	padding: 10px 24px;
}

.seventh p {
	margin-top: 17px;
}

.seventh a {
	color: #D7D7D7;
}

