.sixth {
	padding: 0 135px;
}

.sixth h2 {
	margin: 0 280px;
	text-align: center;
}

.sixth .boxes {
	margin-top: 50px;
	display: flex;
	white-space: wrap;
}

.sixth .box {
	margin-right: 30px;
	background: #292A29;
}

.sixth .box img {
	width: 370px;
}

.sixth h6 {
	margin-top: 24px;
	margin-left: 24px;
	color: #FFFFFF;
	font-family: "DM Serif Display", serif;
	font-size: 24px;
	font-weight: 400;
}

.sixth p {
	margin-top: 12px;
	margin-left: 24px;
	margin-bottom: 24px;
}

.sixth .hug {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}