.supply {
	padding-top: 170px;
	display: flex;
	justify-content: center;
}

.supply__box {
	width: 759px;
	margin-left: auto;
	margin-right: auto;
}

.supply__heading {
	text-align: center;
	color: #FFFFFF;
	font-size: 53px;
	font-weight: 400;
}

.supply__desc {
	margin-top: 12px;
	font-size: 17px;
	text-align: center;
}

.supply__images {
	margin-top: 48px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.supply__hug {
	margin-top: 62px;
	display: flex;
	justify-content: center;
}
